
## Problem Statement:

Restaurants from all over the world can be found here in Bengaluru. From the United States to Japan, Russia to Antarctica, you get all types of cuisines here. Delivery, Dine-out, Pubs, Bars, Drinks, Buffet, Desserts you name it and Bengaluru has it. Bengaluru is the best place for foodies. The number of restaurants is increasing day by day. Currently, it stands at approximately 12,000 restaurants. With such a high number of restaurants. This industry hasn't been saturated yet. And new restaurants are opening every day. However, it has become difficult for them to compete with already established restaurants. The key issues that continue to pose a challenge to them include high real estate costs, rising food costs, shortage of quality manpower, fragmented supply chain, and over-licensing. This Zomato data aims at analyzing the demography of the location. Most importantly it will help new restaurants in deciding their theme, menus, cuisine, cost, etc for a particular location. It also aims at finding similarities between neighborhoods of Bengaluru on the basis of food. The dataset also contains reviews for each of the restaurants which will help in finding the overall rating for the place.


## Aim:

The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurants at different places in Bengaluru, the aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants open the industry hasn't been saturated yet and the demand is increasing day by day. In spite of increasing demand, it however has become difficult for new restaurants to compete with established restaurants. Most of them serve the same food. Bengaluru is the IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves.



Use all the techniques which you are aware of and explore more, Try to find various factors that are hidden in the data.

### DATA DICTIONARY:


• **Restaurant Id:** Unique id of every restaurant across various cities of the world

• **Restaurant Name:** Name of the restaurant

• **Country Code:** Country in which restaurant is located

• **City:** City in which the restaurant is located

• **Address:** Address of the restaurant

• **Locality:** Location in the city

• **Locality Verbose:** Detailed description of the locality

• **Longitude:** Longitude coordinate of the restaurant's location

• **Latitude:** Latitude coordinate of the restaurant's location

• **Cuisines:** Cuisines offered by the restaurant

• **Average Cost for two:** Cost for two people in different currencies 

• **Currency:** Currency of the country

• **Has Table booking:** yes/no

• **Has Online delivery:** yes/ no

• **Is delivering:** yes/ no

• **Switch to order menu:** yes/no

• **Price range:** range of price of food

• **Aggregate Rating:** Average rating out of 5

• **Rating color:** depending upon the average rating color

• **Rating text:** text on the basis of rating of rating

• **Votes:** Number of ratings cast by people

### 1.Import libraries that you required and Load the data set.

In [84]:
import pandas as pd
restaurants_df=pd.read_csv('zomoto.csv')
restaurants_df

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2/5,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6 /5,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,"1,700","[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7/5,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4 /5,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield
4,23424,https://www.zomato.com/bangalore/grill-on-whee...,"Kothanuru Main Road, Puttenahalli Road, Natara...",Grill On Wheels,No,No,NEW,0,+91 9901979901,JP Nagar,Quick Bites,NaN,"North Indian, Chinese, BBQ, Arabian, Fast Food",400,[],[],Dine-out,JP Nagar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,26497,https://www.zomato.com/bangalore/asia-kitchen-...,"136, Ground Floor, 1st Cross, 5th Block, Jyoti...",Asia Kitchen By Mainland China,Yes,Yes,4.9/5,2215,080 49652573,Koramangala 5th Block,"Casual Dining, Bar","Chicken Dim Sum, Pad Thai Noodle, Jumbo Prawns...","Asian, Chinese, Thai, Momos","1,500","[('Rated 5.0', ""RATED\n Everything from the a...",[],Buffet,Koramangala 4th Block
9996,45520,https://www.zomato.com/bangalore/24-hours-cake...,"Shop 1, ATR Complex, Old Airport Road, Bangalore",24 Hours Cake Delivery,No,No,3.3 /5,4,+91 9711655952,Old Airport Road,Delivery,NaN,Bakery,700,"[('Rated 1.0', 'RATED\n Very unprofessional b...",[],Desserts,Old Airport Road
9997,41541,https://www.zomato.com/bangalore/tbc-sky-loung...,"36/1, 5th Floor, Berry's Hotel Kadubeesanahall...",TBC- Sky Lounge,No,Yes,4.4 /5,619,080 42106712\n+91 7624959444,Marathahalli,"Casual Dining, Bar","Fish, Peri Peri Chicken, Cocktails, Chilli Chi...","Continental, Asian, Italian, North Indian","1,000","[('Rated 2.0', 'RATED\n The high rating on Zo...",[],Dine-out,Marathahalli
9998,35621,https://www.zomato.com/bangalore/tawa-sagara-j...,"29/1, 30th Cross, 4th T Block, Thilknagar, Jay...",Tawa Sagara,No,No,3.8 /5,122,NaN,Jayanagar,Casual Dining,"Sea Food, Biryani, Fish Thali, Neer Dosa, Murg...","Mangalorean, Seafood",NaN,"[('Rated 1.0', 'RATED\n We orders chicken suk...",[],Delivery,Koramangala 7th Block
9999,27432,https://www.zomato.com/bangalore/a3-nuwang-kit...,"6/1, Ejipura Pipeline Road, Ejipura, Bangalore",A3 Nuwang Kitchen,Yes,No,3.7/5,42,+91 8892430466\r\n+91 8867915147,Ejipura,Quick Bites,NaN,"Chinese, North Indian",300,"[('Rated 4.0', 'RATED\n I stay near by and ea...",[],Delivery,Koramangala 4th Block

### 2. Check the number of rows and columns in the dataset

In [17]:
restaurants_df.shape

(10000, 18)

### 3. Check the info of the given dataset

In [20]:
restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  9941 non-null   object
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: int64(2), object(16)
memory usage: 1.4+ MB

### 4.Which are the top 10 restaurant chains in Bangaluru?

In [85]:
### after def(user defined ) ... use df['column_name'].map(def_name)
def rated(x):
    if '1' in x:
        return 1
    elif '2' in x:
        return 2
    elif '3' in x:
        return 3
    elif '4' in x:
        return 4
    else:
        return 5

restaurants_df['reviews_list']= restaurants_df['reviews_list'].map(rated)  ## permanant change
### thought it need reviews_list(so cleaned it) but it actually needed voted

In [86]:
restaurants_df.dtypes  ### df['reviews_list'] is converted to int

Unnamed: 0                      int64
url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                    int64
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named restaurants_df

# Group by 'Restaurant_Name' and calculate the total votes for each restaurant
restaurant_votes = restaurants_df.groupby('Restaurant_Name')['Votes'].sum()

# Sort the restaurants based on total votes in descending order
sorted_restaurants = restaurant_votes.sort_values(ascending=False)

# Get the top 10 restaurant chains
top_10_restaurants = sorted_restaurants.head(10)

# Display the result
print(top_10_restaurants)

In [112]:
## BREAK IT DOWN STEP WISE: for sum of votes per resto, then ascending/descending, then top 10
votes_sum = restaurants_df.groupby('name')['votes'].sum()
votes_sum.sort_values(ascending=False).head(10)

name
Onesta                   75633
Truffles                 64594
Prost Brew Pub           39289
The Black Pearl          34939
Hammered                 34320
Arbor Brewing Company    33583
Empire Restaurant        29393
House Of Commons         26636
The Biere Club           24456
Barleyz                  23275
Name: votes, dtype: int64

In [107]:
## direct way: for sum of votes per resto. then sorting descenging. then head for top10
### using groupby
restaurants_df.groupby('name')['votes'].sum().sort_values(ascending=False).head(10)

name
Onesta                   75633
Truffles                 64594
Prost Brew Pub           39289
The Black Pearl          34939
Hammered                 34320
Arbor Brewing Company    33583
Empire Restaurant        29393
House Of Commons         26636
The Biere Club           24456
Barleyz                  23275
Name: votes, dtype: int64

In [120]:
### BREAK DOWN: sum of votes, then sorting and top 10
### using pivot table
votes_sum = df.pivot_table(index='name',values='votes',aggfunc='sum')
votes_sum.sort_values(by='votes',ascending=False).head(10)

                       votes
name
Onesta                 75633
Truffles               64594
Prost Brew Pub         39289
The Black Pearl        34939
Hammered               34320
Arbor Brewing Company  33583
Empire Restaurant      29393
House Of Commons       26636
The Biere Club         24456
Barleyz                23275

In [124]:
### DIRECT method: using pivot
restaurants_df.pivot_table(index='name',values='votes',aggfunc='sum').sort_values(by= 'votes',ascending=False).head(10)

                       votes
name
Onesta                 75633
Truffles               64594
Prost Brew Pub         39289
The Black Pearl        34939
Hammered               34320
Arbor Brewing Company  33583
Empire Restaurant      29393
House Of Commons       26636
The Biere Club         24456
Barleyz                23275

### 5.How many of the restuarants do not accept online orders?

In [48]:
df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [55]:
df['online_order']

0        No
1        No
2        No
3        No
4        No
       ...
9995    Yes
9996     No
9997     No
9998     No
9999    Yes
Name: online_order, Length: 10000, dtype: object

In [61]:
df.pivot_table(index='reviews_list',values='online_order',aggfunc='count')  ## tried but wromg answer

              online_order
reviews_list
1                     5092
2                     1486
3                      843
4                      665
5                     1914

In [68]:
len(df[df['online_order']== 'No'])   ####### right answer

4057

### 6. Online and Offline orders restaurants percentage?

In [166]:
restaurants_df['online_order'].value_counts()

online_order
Yes    5943
No     4057
Name: count, dtype: int64

In [136]:
### 1st way 
len(df[df['online_order']== 'Yes'])/len(restaurants_df)*100

59.43000000000001

In [137]:
len(df[df['online_order']== 'No'])/len(restaurants_df)*100

40.57

In [151]:
## 2nd way if you want to show percentage sign 
# Assuming 'Online_Order' is a column with values 'Yes' and 'No'
online_order_counts = restaurants_df['online_order'].value_counts()

# Calculate the percentage
percentage_online_orders = (online_order_counts.get('Yes', 0) / len(restaurants_df)) * 100
percentage_offline_orders = (online_order_counts.get('No', 0) / len(restaurants_df)) * 100

# Display the result
print(f"Percentage of restaurants accepting online orders: {percentage_online_orders}%")
print(f"Percentage of restaurants not accepting online orders: {percentage_offline_orders}%")
print(f"percentage_offline_orders : {percentage_offline_orders}%")

Percentage of restaurants accepting online orders: 59.43000000000001%
Percentage of restaurants not accepting online orders: 40.57%
percentage_offline_orders : 40.57%

In [159]:
restaurants_df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

### 7. What is the ratio b/w restaurants that provide and do not provide table booking.

In [167]:
### ratio
# Assuming 'Table_Booking' is a column with values 'Yes' and 'No'
table_booking_counts = restaurants_df['book_table'].value_counts()

# Calculate the ratio
ratio_provide_table_booking = table_booking_counts.get('Yes', 0) / table_booking_counts.get('No', 1)

# Display the result
print(f"The ratio of restaurants providing table booking to those not providing is: {ratio_provide_table_booking}")

The ratio of restaurants providing table booking to those not providing is: 0.14233493260223898

In [174]:
table_booking_counts= restaurants_df['book_table'].value_counts()
table_booking_counts

book_table
No     8754
Yes    1246
Name: count, dtype: int64

In [169]:
### ratio: yes/no
ratio_provide_table_booking = table_booking_counts.get('Yes', 0) / table_booking_counts.get('No', 1)
ratio_provide_table_booking

0.14233493260223898

In [173]:
1246/8754

0.14233493260223898

In [177]:
###                 .get (if(yes) else(0) condition
table_booking_counts.get('Yes', 0)

1246

In [178]:
table_booking_counts.get('No', 1)

8754

### 8. Check for missing values in rating column. Drop the missing value from the column and convert the column to numeric type. e.g "3.5/5" convert it to 3.5.

In [189]:
### null.count.sum
restaurants_df['rate'].unique()

array(['3.2/5', '3.6 /5', '3.7/5', '3.4 /5', 'NEW', '4.2/5', nan,
       '3.5 /5', '4.1 /5', '3.4/5', '4.3 /5', '4.5/5', '3.0/5', '3.9/5',
       '3.0 /5', '4.0 /5', '4.2 /5', '3.5/5', '2.9 /5', '4.3/5', '4.4 /5',
       '3.8/5', '3.6/5', '3.3/5', '3.9 /5', '3.3 /5', '4.7/5', '3.1 /5',
       '-', '4.5 /5', '3.2 /5', '3.8 /5', '3.7 /5', '2.5 /5', '4.0/5',
       '4.6 /5', '4.1/5', '2.6/5', '3.1/5', '4.4/5', '2.6 /5', '2.7 /5',
       '2.9/5', '2.5/5', '2.8/5', '4.6/5', '4.7 /5', '2.8 /5', '4.8 /5',
       '4.8/5', '2.7/5', '4.9 /5', '2.2/5', '2.3 /5', '4.9/5', '2.4 /5',
       '2.3/5', '2.1 /5', '2.4/5', '2.1/5', '2.2 /5'], dtype=object)

In [188]:
def drop(x):
    if '.' in x:
        return x[0:3]
    else:
        return 0

restaurants_df['rate'].map(drop)

TypeError: argument of type 'float' is not iterable

In [184]:
restaurants_df.isnull.sum()

AttributeError: 'function' object has no attribute 'sum'

In [193]:
restaurants_df['rate'].str.extract('(\d+\.\d+)').astype(float)

        0
0     3.2
1     3.6
2     3.7
3     3.4
4     NaN
...   ...
9995  4.9
9996  3.3
9997  4.4
9998  3.8
9999  3.7

[10000 rows x 1 columns]

### 9. Convert the approx_cost(for two people) in numeric type after removing the ","

In [83]:
# Assuming 'approx_cost(for two people)' is a string column with commas
restaurants_df['approx_cost(for two people)'] = restaurants_df['approx_cost(for two people)'].str.replace(',', '').astype(float)

NameError: name 'restaurants_df' is not defined

In [76]:
df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [81]:
df['approx_cost(for two people)'].unique()

array(['500', '1,700', '600', '400', '350', '200', '2,600', '300', '700',
       '150', '1,400', '1,200', '800', '900', '250', '650', '2,000',
       '100', '2,800', '1,000', '450', '750', '950', '1,500', '850',
       '550', '1,300', '1,650', '1,100', '1,600', nan, '2,500', '2,300',
       '2,100', '2,400', '3,000', '70', '1,800', '4,100', '2,200',
       '3,400', '1,900', '1,450', '130', '40', '1,050', '1,350', '180',
       '1,250', '120', '3,500', '230', '469', '199', '6,000', '4,000',
       '80'], dtype=object)

In [82]:
## changing datatype
df=df['approx_cost(for two people)'].astype(int)

ValueError: invalid literal for int() with base 10: '1,700'

In [79]:
def coma(x):
    if ',' in x:
        return ''
    else:
        return x

df['approx_cost(for two people)'].map(coma)

TypeError: argument of type 'float' is not iterable

### 10. Find the maximum, minimum and average "approx_cost(for two people)" in each  "listed_in(city)" for each "listed_in(type)"

### 11. Which are the most common restaurant type in Banglore (top 15)?

### 12. Finding Best budget Restaurants in any given location. Create a function return_budget_resturant, the arguments to this function will be location and rest_type.The function should return a budget resturants in the given loaction. The price of a good budget resturant should be less than 400 and rating should be more than 4.

input - return_budget_resturant('HSR',"Quick Bites")
output - ['Asha Tiffins', 'Hotel Salam', 'The Mylapore Cafe']

### 13.Which are the most common cuisines in each locations.

In [201]:
import pandas as pd

# Assuming 'Location' and 'Cuisines' are columns in the DataFrame
# Replace 'restaurants_df' with the actual DataFrame name
common_cuisine = pd.pivot_table(restaurants_df, values='cuisines', index='location', aggfunc=lambda x: x.mode().iat[0])

# Display the pivot table
common_cuisine

                                                            cuisines
location
BTM                                                     North Indian
Banashankari                                  Cafe, Mexican, Italian
Banaswadi                                      North Indian, Chinese
Bannerghatta Road                              North Indian, Chinese
Basavanagudi                                            South Indian
...                                                              ...
West Bangalore     Healthy Food, Chinese, Biryani, North Indian, ...
Whitefield                                              North Indian
Wilson Garden                                           North Indian
Yelahanka                                      South Indian, Biryani
Yeshwantpur                      South Indian, North Indian, Chinese

[89 rows x 1 columns]

In [202]:
# Assuming 'Location' and 'Cuisines' are the column names in your DataFrame
common_cuisines_by_location = restaurants_df.groupby('location')['cuisines'].apply(lambda x: x.str.split(',').explode().str.strip().mode().iloc[0])

# Display the result
print(common_cuisines_by_location)

location
BTM                  North Indian
Banashankari         North Indian
Banaswadi                 Chinese
Bannerghatta Road    North Indian
Basavanagudi         North Indian
                         ...
West Bangalore           American
Whitefield           North Indian
Wilson Garden        North Indian
Yelahanka                 Biryani
Yeshwantpur          North Indian
Name: cuisines, Length: 89, dtype: object

In [194]:
restaurants_df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [199]:
restaurants_df.pivot_table(index=['location'],values='cuisines',aggfunc='sum')

                                                            cuisines
location
BTM                Fast Food, BiryaniMithai, North Indian, Street...
Banashankari       CafeBakery, DessertsSouth IndianNorth Indian, ...
Banaswadi          Biryani, Chinese, KebabKerala, South Indian, N...
Bannerghatta Road  Ice Cream, DessertsMexican, Tex-MexNorth India...
Basavanagudi       South IndianBiryani, North IndianNorth IndianS...
...                                                              ...
West Bangalore     Healthy Food, Chinese, Biryani, North Indian, ...
Whitefield         Fast FoodChineseCafe, Fast Food, Pizza, Burger...
Wilson Garden      BiryaniNorth IndianBakeryNorth IndianSouth Ind...
Yelahanka                                      South Indian, Biryani
Yeshwantpur        BeveragesSouth Indian, North Indian, ChineseSe...

[89 rows x 1 columns]

In [233]:
df['dish_liked']

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
9995    Chicken Dim Sum, Pad Thai Noodle, Jumbo Prawns...
9996                                                  NaN
9997    Fish, Peri Peri Chicken, Cocktails, Chilli Chi...
9998    Sea Food, Biryani, Fish Thali, Neer Dosa, Murg...
9999                                                  NaN
Name: dish_liked, Length: 10000, dtype: object

### 14. Which is  the most popular cuisine of Bangalore?

In [247]:
df.groupby('cuisines')['cuisines'].value_counts().idxmax()

'North Indian'

In [ ]:
### weel 1 revision
## day 2 onwards
## day 3, day 4, 
## day 5 cha solve karaychay
### week 2 revision